<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ict.edu01.guestbook.mapper.GuestBookMapper"> <!-- mapper를 따라간다. -->
    <select id="guestbooklist" resultType="GuestBookVO" >     <!-- id를 따라서 -->
        SELECT * FROM guestbook 
        
    </select>
    <select id="guestbookdetail" parameterType="String" resultType="GuestBookVO">
        SELECT * FROM guestbook WHERE gb_idx = #{gb_idx} 

    </select>

    <insert id="guestbookwrite" parameterType="GuestBookVO">
        INSERT INTO guestbook (gb_name, gb_email, gb_subject, gb_content, gb_f_name, gb_regdate)
        VALUES (#{gb_name}, #{gb_email}, #{gb_subject}, #{gb_content}, #{gb_f_name}, now())
    </insert>
   
    <delete id="guestbookdelete" parameterType="String">
        DELETE FROM guestbook WHERE gb_idx = #{gb_idx}
    </delete>

    <update id="guestbookupdate">
        UPDATE guestbook SET gb_name = #{gVO.gb_name}, gb_email = #{gVO.gb_email}, gb_subject = #{gVO.gb_subject}, gb_content = #{gVO.gb_content}, gb_f_name = #{gVO.gb_f_name}, gb_regdate = now()
        WHERE gb_idx = #{gb_idx}
    </update>

    <select id="getGuestBookImage" parameterType="String" resultType="String">
        SELECT gb_f_name FROM guestbook WHERE gb_f_name = #{gb_f_name}
    </select>

    <select id="downloadGuestBookFile" parameterType="String" resultType="String">
        SELECT gb_f_name FROM guestbook WHERE gb_f_name = #{gb_f_name}
    </select>

</mapper>